* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}
body {
  font-family: "Poppins", sans-serif;
}
/* style of sub nav ////////////////////////////////////// */
.sub-nav {
  height: 53px;
  border-bottom: 1px solid #eee;
}
.sub-nav .info {
  width: 450px;
}
.sub-nav .info .email {
  border-right: 1px solid #eee;
  padding-right: 25px;
}
.sub-nav .info .email p {
  margin: 0;
  font-size: 14px;
  color: #7a7a7a;
}
.sub-nav .info .email i,
.sub-nav .info .location i {
  color: #f35525;
}
.sub-nav .info .location p {
  margin: 0;
  font-size: 14px;
  color: #7a7a7a;
}
.sub-nav .social-icons .icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.sub-nav .social-icons .icon:hover {
  background-color: #f35525;
}
.sub-nav .social-icons .icon i {
  color: white;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    display: none;
  }
}

/* ///////////////////////////////////////////// */
/* navbar style ///////////////////////////////// */
nav .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
nav .container-fluid a h1 {
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  /* line-height: 100px; */
}

#navbarNav ul li a {
  margin: 0 20px;
  font-weight: 500;
  color: #1e1e1e;
}
#navbarNav ul li a.active,
#navbarNav ul li a:hover {
  color: #f35525;
}
#navbarNav ul li:last-child {
  padding-right: 0;
}
#navbarNav ul li:last-child a {
  color: white !important;
  background-color: #1e1e1e;
  border-radius: 20px;
  font-size: 14px;
  padding: 0;
  padding-right: 15px;
  margin-right: 0;
}
#navbarNav ul li:last-child a:hover {
  color: #f35525 !important;
}
#navbarNav ul li:last-child i {
  background-color: #f35525;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
#navbarNav ul li:last-child a:hover i {
  color: #fff !important;
}
nav button {
  border: none !important;
  position: relative;
}
nav button span {
  display: block;
  height: 3px;
  background-color: #000;
  width: 40px;
  margin: 10px 0;
  border-radius: 10px;
}
nav button span:first-child {
  width: 25px;
}
nav button span:last-child {
  width: 35px;
}
.open span:nth-child(2) {
  background-color: transparent;
}
.open span:first-child {
  width: 44px;
  transform: rotate(37deg);
  transform-origin: left;
}
.open span:last-child {
  width: 44px;
  transform: rotate(-37deg);
  transform-origin: left;
}
/*//////////////////////// slider /////////////////////////// */
.slider {
  position: relative;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #5a5a5a;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #f35525;
}
.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  background-size: 80% 80%;
}

.slider .carousel-inner .carousel-item img {
  max-width: 100%;
}
.slider .carousel-inner .carousel-item .carousel-caption {
  left: 301px;
  top: 90px;
  text-align: start;
}
.slider .carousel-inner .carousel-item .carousel-caption .caption-button {
  background-color: #fff;
  padding: 5px 17px;
  color: #000;
  width: 215px;
  font-weight: 500;
}
.slider .carousel-inner .carousel-item .carousel-caption .caption-button span {
  color: #f35525;
}
.slider .carousel-inner .carousel-item .carousel-caption p {
  font-size: 62px;
  width: 360px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}
.slider .carousel-indicators button {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 11px;
}
.slider .carousel-indicators button.active {
  background-color: #f35525;
}

@media screen and (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev .carousel-control-prev-icon,
  .carousel-control-next .carousel-control-next-icon {
    background-size: 60% 60%;
  }
  .slider .carousel-inner .carousel-item .carousel-caption {
    top: 30px;
    left: 100px;
  }
  .slider .carousel-inner .carousel-item .carousel-caption .caption-button {
    font-weight: 400;
  }
  .slider .carousel-inner .carousel-item .carousel-caption p {
    font-size: 40px;
    width: 303px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
  }
  .slider .carousel-indicators button {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
}

/* 
 font-size: 62px;
    width: 50%;
    font-weight: 700;
    line-height: 1.15;


*/
